body	{
  font: italic 14px Georgia, Arial, sans-serif;
  color: #737373;
  background-color: #fbfbfb;
  line-height: 1.428571429;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

input, textarea, .btn-primary {
    outline: 0;
}

legend {
  color: #737373;
}

p {
  color: #737373;
  font-style: normal;
  margin: 10px 0 10px 0;
}

a   {
    color: #484848;
    font-size: 14px;
}

a:hover {
    color: #8f8f8f;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Georgia", Arial, Helvetica, sans-serif;
}

pre {
  color: #737373;
}

a.list-group-item .list-group-item-heading {
	color: #737373;
}

.thumbnail .caption {
	color: #737373;
}

hr	{
	clear: both;
}

/* btn 
======================= */

.btn.btn-search	{
	font-size: 12px;
	font-style: italic;
	padding: 3px 8px 3px 8px;
}

.btn:hover,
.btn:focus {
	color: #ffffff;
}

.btn-default {
	color: #737373;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #737373;
}
.btn-primary {
	background-color: #292929;
	border-color: #292929;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #6f6f6f;
	border-color: #4e4c4c;
}

.btn-default .caret {
	border-top-color: #737373;
}

.dropup .btn-default .caret {
	border-bottom-color: #737373;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus   {
    background: none;
    border: none;
}


/* --- */


.content	{
	background: url('../images/hr.jpg') repeat-x bottom center #fff;
	position: relative;
	height: 340px;
}

.marketing	{
	top: -130px;
	position: relative;
}


/* content-inner
============================== */
.content-inner .content {
    height: 160px;
}

.content-inner .marketing {
   top: 0;
}

.content-inner .bredcrams {
   background: #efefef;
   padding: 10px;
}


/* carousel
============================ */

.carousel {
    top: -170px;
}

/* ---- */


/* menu
============================ */
.menu-content	{
	width: 66%;
	border-bottom: 1px solid #cacaca;
	height: 100px;
	float: right;
	margin-bottom: 10px;
	padding: 38px 0 0 0;
}

.dropdown-menu > li > a {
	color: #737373;
}

.nav > li > a {
	padding: 10px 30px;
}

.navbar {
	min-height: 150px;
	border-radius: 0;
	border: none;
}

.dropdown-menu  {
    top: 60%;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}

@media (min-width: 768px) {
	.navbar-left {
		float: right !important;
	}
}

.navbar-default {
  background-color: inherit;
  border-color: inherit;
  z-index: 9999;
}

.navbar-default .navbar-brand {
  color: #737373;
}

.navbar-default .navbar-text {
  color: #737373;
}

.navbar-default .navbar-nav > li > a {
  color: #737373;
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus {
    color: #1e1e1e;
    background: url('../images/menu-act.jpg') no-repeat center bottom;
    height: 70px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1e1e1e;
  background-color: inherit;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #737373;
	border-bottom-color: #737373;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #737373;
	border-bottom-color: #737373;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #737373;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #737373;
	}
}

.navbar-default .navbar-link {
	color: #737373;
}
.navbar-default .navbar-link:hover {
	color: #737373;
}

.navbar-inverse .navbar-toggle {
	border-color: #737373;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #737373;
}

.navbar .brand {	
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #737373;
	text-shadow: 0 1px 0 #ffffff;
}

@media (max-width: 979px) {
	.navbar .brand {
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 0 0 -5px;
	}
}

.navbar-toggle	{
	margin-top: 60px;
}

.navbar-default .navbar-collapse.in .navbar-nav > li:hover,
.navbar-default .navbar-collapse.in .navbar-nav > li:focus {
	background: none;
	height: auto;
}
	
.navbar-collapse.collapse .nav.navbar-nav,
.navbar-collapse.collapse .navbar-form	{
	padding-top: 50px;
}
		
.navbar-collapse.in .nav.navbar-nav,
.navbar-collapse.in .navbar-form	{
	padding-top: 10px 15px;
}
	
/* --- */


.panel-default > .panel-heading {
  color: #737373;
}

.panel-default > .panel-heading > .dropdown .caret {
  border-color: #737373 transparent;
}


.form-control.form-seach	{ 
	font-size: 12px;
	font-style: italic;
	padding: 3px 5px 3px 10px;
	height: 25px;
}

@media (min-width: 1200px) {
	.menu-content	{
		width: 66%;
		border-bottom: 1px solid #cacaca;
		height: 100px;
		float: right;
		margin-bottom: 10px;
		padding: 38px 0 0 0;
	}

	.content	{
		background: url('../images/hr.jpg') repeat-x bottom center #fff;
		position: relative;
		height: 340px;
	}

	.marketing	{
        top: -130px;
		position: relative;
	}

	.navbar-default .navbar-nav > li.active {
		background: url('../images/menu-act.jpg') no-repeat center bottom;
	}
	.navbar-default .navbar-nav > li {
        height: 70px;
	}

}

.content-inner h1 {
    font-size: 25px;
}


.list-unstyled.categories-list-r > li	{
	list-style-image: url("../images/marker.jpg");
}

.information-articles	{
	clear: both;
	padding: 0 10px 20px 15px;
}

.article	{
	clear: both;
}

.article img	{
	padding: 5px 10px 10px 5px;
}

.tags, .comments, .calendar, .bookmark, .autor	{ background: url('../images/article-tags.png') no-repeat; height: 16px; padding-left: 20px; }
.tags { background-position: -0px -0px; }
.comments { background-position: -0px -48px; }
.calendar { background-position: -0px -16px; }
.bookmark { background-position: -0px -16px; }
.autor { background-position: -0px -32px; }

/* --- */

/* footer
========================= */

footer	{
	background: #2f271c;
	color: #77715d;
    padding: 30px 0 20px 0;
}

footer .row 	{
    margin: 0;
}

footer a	{
    color: #77614a;
}

footer .nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: #f39d00;
}

footer .nav-pills > li > a {
    border-radius: 0;
}

footer .nav > li > a {
    padding: 10px 25px;
}

@media (max-width: 768px) {
	footer .nav > li > a {
		padding: 10px;
	}
}


footer .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: none;
    color: #f39d00;
}

.col-md-4 > a + a {
    padding: 0 0 0 20px;
}

footer .soc {
    padding-left: 100px;
}


footer .row .col-md-4 p	{
	text-align: right;
}

/* hover social
======================*/
footer .twitter,
footer .facebook,
footer .google,
footer .rss,
footer .twitter:hover,
footer .facebook:hover,
footer .google:hover,
footer .rss:hover {
    display: inline-block;
    width: 40px;
    height: 39px;
    background: url('../images/soc.png') no-repeat;
}

footer .twitter { background-position: -0px -234px; }
footer .facebook { background-position: -0px -117px; }
footer .google { background-position: -0px -156px; }
footer .rss { background-position: -0px -273px; }
footer .twitter:hover { background-position: -0px -39px; }
footer .facebook:hover  { background-position: -0px -195px; }
footer .google:hover  { background-position: -0px -0px; }
footer .rss:hover  { background-position: -0px -78px; }

/* ------- */